@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

.copy_icon{
	opacity:0.3;
}
.copy_icon:hover{
	opacity:1;
}

.hf-result-border{
	border-right: 1px solid #dfdfdf;
	
}
.hf-detail-tag{
	font-weight:lighter;
}
.hf-details-parent{
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	margin-top:-4px;
}
.filter-header{
	padding: 5px;
	border-bottom: 1px solid #dfdfdf;
}

.Box-header--blue {
	margin-bottom:0px;
    background-color: #f1f8ff;
    border-color: #c8e1ff;
	border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}
.Box-header {
	font-size: 13px;
	border-top-right-radius: 0px;
    border-top-left-radius: 0px;
	border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
	margin-top:-1px;
    border-color: #c8e1ff;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

.Box-hotfix-title {
	margin-right:0px;
	margin-left: 0px;
	border-top-right-radius: 6px;
    border-top-left-radius: 6px;
	border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
	border: 1px solid #000;
	margin-bottom:-1px;	
	padding: 5px;
    border-color: #c8e1ff;
}
.hf-list-description{
	line-height: 1.3rem;	
}

* {
	outline: none;
}

.hf-list-top{
	font-size: medium;
	
}
.custom-card{
	min-height: 220px;
}
.circle-image{
 	width: 150px;
 	display: block;
 	margin-left: auto;
  	margin-right: auto;
  	margin-top: -90px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: #38373787;
    box-shadow: 2px 2px 5px grey;
    
}
.profile-pic {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}
.custom-body{
	font-family: "Cambria", Serif !important;
}
.background-search-img{
	background: url(../image/search_graphic.png);
    height: 50%;
    background-size: cover;
    background-repeat: space;
    opacity: 1;
    margin-top: 20%;
}
::selection {
  color: white;
  background: green;
}
.btn-custom-bg{
background-color: #7952b3;
border-color: #7952b3;
	
}
.btn-custom-bg:hover{
	background-color: #71529e;
	border-color: #584673;
}
.btn-custom-bg:focus{
	background-color: #71529e;
	border-color: #584673;
	box-shadow: 0 0 0 0.2rem rgba(207, 62, 255, 0.5);
}

#searchBtn{
	width:150px;
	color: #71529e;
	border-color: #71529e;
}
#searchBtn:hover{
	background-color: #71529e;
	border-color: #584673;
	color:white;
}
#searchBtn:focus{
	background-color: #71529e;
	border-color: #584673;
	box-shadow: 0 0 0 0.2rem rgba(207, 62, 255, 0.5);
}


@-webkit-keyframes fadein {
	from { opacity:0;}
	to {opacity: 1;}
}

@-webkit-keyframes rolldown {
	from { opacity:0;}
	to {opacity: 1;}
}

.cust-padding {
	padding-left: 1rem !important;
	padding-right: 1rem !important;
	padding-top: .25rem !important;
	padding-bottom: .25rem !important;
	font-size: small;
}

.bd-callout-warning {
	border: 1px solid #eee;
	border-left-color: #f0ad4e;
}

.bd-callout-success {
	border: 1px solid #eee;
	border-left-color: #28a745;
}

.bd-callout-info {
	border: 1px solid #eee;
	border-left-color: #f8f9fa;
}

.bd-callout {
	padding: 1.25rem;
	margin-top: -0.75rem;
	margin-bottom: 1.25rem;
	border-left-width: .25rem;
	border-radius: .25rem;
	box-sizing: border-box;
	-webkit-animation: fadein 0.2s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 0.2s; /* Firefox < 16 */
	-ms-animation: fadein 0.2s; /* Internet Explorer */
	-o-animation: fadein 0.2s; /* Opera < 12.1 */
	animation: fadein 0.2s;
}

.hf-details-child {
	font-size: 14px;
}

.hf-details-child>.bd-callout>.row>.col>div>.badge {
	font-size: 0.7rem;
}

.hf-details-child>.bd-callout>.row {
	margin-bottom: 0.5rem;
}

textarea.form-control {
	margin-top: 0.5rem;
	font-size: small;
}

.search-panel{
	box-sizing: border-box;	
	border-right: 1px solid #7952b3;
	height: 100%;
}




/* Custom Scrollbar using CSS */
.custom-scrollbar-css {
  overflow-y: scroll;
  overflow-x: hidden;
}

/* scrollbar width */
.custom-scrollbar-css::-webkit-scrollbar {
  width: 8px;
  cursor: pointer;
  
}

/* scrollbar track */
.custom-scrollbar-css::-webkit-scrollbar-track {
  cursor: pointer;
  background: #eee;
}

/* scrollbar handle */
.custom-scrollbar-css::-webkit-scrollbar-thumb {
  border-radius: 3rem;
  background-color: #f5af19;
  background-image: linear-gradient(to top, #f5af19 0%, #f12711 100%);
  

}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../image/Preloader_21.gif) center no-repeat #fff;
}

